@(user: models.users.User, game: models.Game, e: play.api.Environment)

    @main("OneUp :: " + game.getTitle + ":: Discussions", user) {
                <div class="mb-2">
                @if(user == null) {
                    <a class="btn btn-outline-primary" type="button" data-toggle="modal" data-target="#threadModal" href="@routes.LoginController.loginRef(request.uri)">New Thread</a>
                } else {
                    <button class="btn btn-outline-primary" type="button" data-toggle="modal" data-target="#threadModal">
                        New Thread</button>
                }
                </div>

                @if(user != null) {
                <div id="threadModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Post a new thread</h4>
                            </div>
                            <form action="@routes.ForumController.createThread(game.getId)" method="post">
                                @helper.CSRF.formField
                                <div class="modal-body">
                                    <input type="text" placeholder="Title" class="form-control" name="title">
                                    <br>
                                    <textarea name="content" rows="5" cols="50" placeholder="Describe your thread in more detail" class="form-control"></textarea>
                                    <br>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-default">Post</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                }
                @if(game.getThreads.size() == 0) {
                    <h5>There aren't any threads yet.</h5>
                } else {
                    @for(thread <- game.getThreads) {
                        <div class="card">
                            <div class="card-header">
                                <small>@thread.getPoster.getUsername</small>
                                <h5>@thread.getTitle</h5>
                                <small>Last reply: @thread.getLastReply</small>
                                <a class="btn btn-outline-primary float-right" href="@routes.HomeController.thread(thread.getId)">View</a>
                            </div>
                        </div>
                    }

                }
            }
