@(user: models.users.User, game: models.Game, e: play.api.Environment)

@main("OneUp " + game.getTitle() + " Discussions", user) {
    <div class="card">
        <div class="card-header">
            <h5>@game.getTitle()</h5>
        </div>
        <div class="card-body">
            @if(game.getForum().getThreads().size() == 0) {
                <h5>There aren't any threads yet.</h5>
            } else {
                @for(thread <- game.getForum.getThreads()) {
                    <div class="card">
                        <div class="card-header">
                            <h5>@thread.getTitle()</h5>
                            <h5>@thread.getPoster()</h5>
                            <h5>@thread.getReplies()</h5>
                            <h5>@thread.getLastReply()</h5>
                            <form action="@routes.HomeController.thread(thread.getId())">
                                <button type="button" class="btn btn-default">View</button>
                            </form>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
}