@(title: String, user: models.users.User)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/main.css")">
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".mainNavbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2 mainNavbar">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="@routes.HomeController.store">Store</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-collapse collapse w-100 order-3 dual-collapse2 mainNavbar">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <form class="form-inline my-2" action="@routes.HomeController.search" method="GET">
                                <input class="form-control mr-sm-2" name="query" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-primary my-sm-0 mr-sm-2" type="submit">Search</button>
                            </form>
                        </li>
                        @if(user != null) {
                            <li class="nav-item dropdown ml-2 my-2">
                                <a class="nav-link dropdown-toggle" href="" id="navbadDropMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @user.getEmail
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="@routes.UserController.profile(user.getId)">Profile</a>
                                    <a class="dropdown-item" href="">Games <span class="text-left">@user.getGamesList.size</span></a>
                                    <a class="dropdown-item" href="@routes.LoginController.logout">Sign out</a>
                                </div>
                            </li>
                        } else {
                            <li class="nav-item">
                                <a class="my-2 mx-sm-2 btn btn-outline-success" href="@routes.UserController.create">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="my-2 ml-sm-2 btn btn-outline-success" href="@routes.LoginController.login">Sign in</a>
                            </li>
                        }
                    </ul>
                </div>
        </nav>
        <div class="container">
            @if(flash.containsKey("success")) {
                <div class="alert alert-success">
                    @flash.get("success")
                </div>
            }
            @if(flash.containsKey("error")) {
                <div class="alert alert-warning">
                    @flash.get("error")
                </div>
            }
            @content
        </div>    
    </body>
</html>