@(userProfile: models.users.User, user: models.users.User)

@main("OneUP :: " + userProfile.getUsername, user) {
    @if(userProfile.getId.equals(user.getId)) {
        <a href="@routes.UserController.update(userProfile.getId)">Change Details</a>
    }
    <a id="showGames" href="#">Games</a>
    <a id="showPosts" href="#">Posts</a>
    <script>
        $('#showGames').click(function () {
            $('#posts').hide()
            $('#games').show()
        });
        $('#showPosts').click(function () {
            $('#games').hide()
            $('#posts').show()
        });
    </script>
    <div class="jumbotron">
        <h1>@userProfile.getUsername</h1>
        <h3>@userProfile.getFirstName @userProfile.getLastName</h3>
        <p>@userProfile.getBio</p>
    </div>
    <div class="row" id="games">
        <div class="col-sm-12 col-md-12 col-lg-12">
            @if(userProfile.getGamesList.isEmpty) {
            <h3 class="text-center">No games yet.</h3>
        } else {
        <table class="table">
            <tbody>
                @for(game <- userProfile.getGamesList) { <tr>
                    <td>@game.getTitle</td>
                    </tr>
                    }
            </tbody>
        </table>
        }
    </div>
</div>
<div class="row" id="posts">
        @if(userProfile.getPosts().isEmpty) {
            <h3>No posts.</h3>
        } else {
                @for(post <- userProfile.getPosts) {
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="card w-100 mb-4">
                            <div class="card-header">
                                @post.getThread.getGame.getTitle / @post.getThread.getTitle / # @post.getThread.getPosts.indexOf(post)
                            </div>
                            <div class="card-body">
                                <p>@post.getText</p>
                                <small>@post.getTimePosted.toString</small>
                            </div>
                        </div>
                    </div>
                    }
            </div>
        }
    </div>
</div>
<script>
    $('#posts').hide()
</script> }