@(user: models.users.User, games: java.util.List[models.Game], e: play.api.Environment)

@main("Welcome to OneUP", user) {
        <div class="row">
        @if(user.isInstanceOf[models.users.Admin]) {
            <div id="threadModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title text-center">Add a new game</h4>
                        </div>
                        <form action="@routes.StoreController.create" method="post" class="form" enctype="multipart/form-data">
                            @helper.CSRF.formField
                            <div class="modal-body">
                                <input id="game-id" type="number" name="id" value="" style="display: none">
                                <div class="form-group">
                                    <input id="game-title" type="text" name="title" placeholder="Title" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <textarea id="game-desc" name="content" rows="5" cols="50" placeholder="Description" class="form-control" required></textarea>
                                </div>
                                <div class="form-group">
                                    <input id="game-price" type="number" name="price" placeholder="Price" class="form-control" step="0.01" min="0" required>
                                </div>
                                <div class="form-group">
                                    <input id="game-discount" type="number" name="discount" placeholder="Discount (optional)" class="form-control" step="1" min="0" max="100">
                                </div>
                                <div class="form-group">
                                    <label id="game-images-label" for="game-images">Game images (optional)</label>
                                    <input id="game-images" class="form-control" type="file" name="images" multiple>

                                </div>
                                <div class="form-group">
                                    <input id="game-visible" type="checkbox" name="isVisible" class="form-check-input" checked>
                                    <label for="game-visible">Visible to public?</label>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
                                <button id="game-button" type="submit" class="btn btn-outline-success">Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        }
        </div>
        @if(user.isInstanceOf[models.users.Admin]) {
            <div id="admin-tools" class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                        <a id="admin-lock" class="navbar-brand" href="#">Admin Game Tools</a>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a id="add-game" class="nav-link" data-toggle="modal" data-target="#threadModal" href="#">Add</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="hideGame" href="#">Hide/Reveal</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="editGame" href="#">Edit</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="removeGame" href="#">Delete</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <script>
                    $('#add-game').click(function () {
                        $('#game-id').attr('value', '');
                        $('#game-title').attr('value', '');
                        $('#game-desc').val('');
                        $('#game-price').attr('value', '');
                        $('#game-discount').attr('value', '');
                        $('#game-images-label').html('Game images (optional)')
                        $('#game-button').html('Create')
                    });

                    $('#removeGame').click(function () {
                        var del = $('.admin-tool-delete')
                        if(del.is(":visible")) {
                            del.hide()
                            $(this).css('color', 'rgba(255,255,255,.5)')
                        } else {
                            $(this).css('color', 'green');
                            del.show();
                        }
                    });
                    $('#hideGame').click(function () {
                        var hide = $('.admin-tool-hide')
                        if(hide.is(":visible")) {
                            hide.hide()
                            $(this).css('color', 'rgba(255,255,255,.5)')
                        } else {
                            $(this).css('color', 'green')
                            hide.show();
                        }
                    });
                    $('#editGame').click(function () {
                        var edit = $('.admin-tool-edit')
                        if(edit.is(":visible")) {
                            edit.hide()
                            $(this).css('color', 'rgba(255,255,255,.5)')
                        } else {
                            $(this).css('color', 'green')
                            edit.show();
                        }
                    })
                </script>
            </div>
        }

            <div class="col-sm-12">
                <table class="table">
                    <tbody>
            @for(game <- games) {
                @if(!game.getVisible || user.isInstanceOf[models.users.Admin]) {

                    @if(game.getVisible) {
                        <tr class="hidden">
                    } else {
                        <tr>
                    }
                            <td>
                            @for(media <- game.getMedia) {
                                @if(media.getMime.contains("cover")) {
                                    @if(e.resource("public/" + media.getLink).isDefined) {
                                        <img height=120 width=120 src="@routes.Assets.versioned(media.getLink)"/>
                                    }
                                }
                            }
                            </td>
                            <td>
                                <a href="@routes.HomeController.game(game.getId)">
                                    @game.getTitle
                                </a>
                            </td>
                            <td>
                                @game.getRating %<br>
                            </td>
                            <td>
                                @if(game.getDiscount > 0.0) {
                                    <span class="badge badge-success">-@{game.getDiscount * 100}%</span>
                                }
                            </td>
                            <td>
                                @if(game.getDiscount > 0.0) {
                                    <del>€@game.getPrice</del><br>
                                    €@game.getDiscountedPrice
                                }
                            </td>
                            <td>
                                <a href="@routes.HomeController.forum(game.getId())">Forum</a>
                            </td>
                            @if(user.isInstanceOf[models.users.Admin]) {
                                <td class="admin-tool-delete">
                                    <a class="btn btn-outline-danger" href="@routes.StoreController.removeGame(game.getId)">Delete</a>
                                </td>
                                <td class="admin-tool-hide">
                                    @if(!game.getVisible) {
                                        <a class="btn btn-outline-danger" href="@routes.StoreController.hideGame(game.getId)">Hide</a>
                                    } else {
                                        <a class="btn btn-outline-success" href="@routes.StoreController.hideGame(game.getId)">Reveal</a>
                                    }

                                </td>
                                <td class="admin-tool-edit">
                                    <a id="edit-@game.getId()" class="btn btn-outline-primary" data-toggle="modal" data-target="#threadModal" href="#">Edit</a>
                                    <script>
                                        $('#edit-@game.getId()').click(function () {
                                            $('#game-id').attr('value', '@game.getId');
                                            $('#game-title').attr('value', '@game.getTitle');
                                            $('#game-desc').val('@game.getDescription');
                                            $('#game-price').attr('value', '@game.getPrice');
                                            $('#game-discount').attr('value', '@{game.getDiscount * 100}')
                                            $('#game-images-label').html('Uploading images will cause existing images to be discarded.')
                                            $('#game-button').html('Update')
                                        })
                                    </script>
                                </td>
                                <script>
                                        $('.admin-tool-delete').hide()
                                        $('.admin-tool-edit').hide()
                                        $('.admin-tool-hide').hide()
                                </script>
                            }
                    </tr>
                }

        }
                    </tbody>
                </table>
        </div>
}