@(user: models.users.User, games: List[models.Game])

@main("OneUp : Store", user) {
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Filter</h4>
                    </div>
                    <div class="panel-body">

                    </div>
                </div>
            </div>
            <div class="col-sm-10">
                @for(game <- games) {
                    <div class="panel panel-default game">
                        <div class="panel-heading">
                            <h3>@game.getTitle()</h3>
                        </div>
                        <div class="panel-body">
                            <img src="http://placehold.it/100x100">
                            <h3>@game.getDescription()</h3>
                            <button type="button" class="btn btn-success btn-lg">
                                <a href="@routes.HomeController.game()"><span style="color: white">View</span></a>
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}